<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#422211"/>
  <meta name="description" content="Embark on a culinary journey at our ZenEats, where each page unfolds the tales of exquisite flavors and passionate stories behind every dish. Savor culinary delights and explore the rich tapestry of Indonesian cuisine.">
  <title>ZenEats</title>
  <link rel="icon" href="./logo.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
 
  <link
  href="https://fonts.googleapis.com/css?family=Pacifico:300,400,500"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
  rel="stylesheet"
  type="text/css"
  />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

</head>
<body>
  <header class="header">
    <a href="#utama" class="skip-link" tabindex="0">Menuju konten utama</a>
    <div class="header__inner">
      <h2 class="header__title" aria-label="Logo ZenEats" tabindex="0">ZenEats</h2>
    </div>

    <a id="menu" class="header__menu" tabindex="0">☰</a>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/mzainr">About</a></li>
        </ul>
      </nav>

  </header>
  
  <main>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Savor Culinary Delights, Explore Exquisite Flavors!</h1>
      <p class="hero__tagline">
        Dive into a world of culinary wonders where each dish tells a unique story of flavor and passion in Indonesia.
      </p>
    </div>
  </div>

  <section class="content" id="utama" tabindex="0"></section>
  
  </main>
  <footer tabindex="0">
    &copy; 2023 Restaurant Catalog. All rights reserved. Designed by <a href="https://github.com/MZAINR" target="_blank" rel="noopener">Muhammad Zain Rizqulloh</a>
  </footer>
</body>
</html>





